
<header>

    <nav>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/Listproducts">Products</a></li>
            <li><a href="/addProducts">Add Products</a></li>
            <li><a href="/adminProducts">Admin Products</a></li>
            <li><a href="/orders">My Orders</a></li>
        </ul>
    </nav>
</header>